<form [formGroup]="form" (ngSubmit)="editar()" class="container mt-4">
  <input type="hidden" formControlName="idServicio" />
  <div class="mb-3"><label>Fecha</label><input formControlName="fecha" type="date" class="form-control" /></div>
  <div class="mb-3"><label>Descripción</label><input formControlName="descripcion" class="form-control" /></div>

  <div class="mb-3">
    <label>Cliente</label>
    <select formControlName="idCliente" class="form-select">
      <option value="">Seleccione cliente</option>
      <option *ngFor="let c of clientes" [value]="c.id">{{ c.label }}</option>
    </select>
    <div class="input-group mt-2">
      <input formControlName="idCliente" type="number" class="form-control" placeholder="ID cliente"/>
      <button type="button" class="btn btn-secondary" (click)="buscarCliente()">Buscar Cliente</button>
    </div>
  </div>

  <div class="mb-3">
    <label>Empleado</label>
    <select formControlName="idEmpleado" class="form-select">
      <option value="">Seleccione empleado</option>
      <option *ngFor="let u of usuarios" [value]="u.id">{{ u.label }}</option>
    </select>
    <div class="input-group mt-2">
      <input formControlName="idEmpleado" type="number" class="form-control" placeholder="ID empleado"/>
      <button type="button" class="btn btn-secondary" (click)="buscarEmpleado()">Buscar Empleado</button>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary" type="submit">Actualizar Servicio</button>
  </div>
</form>
