<form [formGroup]="form" (ngSubmit)="guardar()" class="container mt-4">

    <div class="mb-3">
    <label>Nombre Pedido</label>
    <input formControlName="nombrePedido" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Fecha Pedido</label>
    <input formControlName="fechaPedido" type="date" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Estado</label>
    <input formControlName="estado" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Proveedor</label>
    <select formControlName="idProveedor" class="form-select">
      <option value="">Seleccione proveedor</option>
      <option *ngFor="let p of proveedores" [value]="p.idProveedor">{{ p.nombre }} - {{ p.identificacion }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Empleado</label>
    <select formControlName="idEmpleado" class="form-select">
      <option value="">Seleccione empleado</option>
      <option *ngFor="let e of empleados" [value]="e.idUsuario">{{ e.nombre }} - {{ e.identificacion }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">{{ esEdicion ? 'Actualizar' : 'Crear' }}</button>
</form>