<div class="container">
  <div class="card">
    <div class="card-header p-4">
      <h5><i class="fa-solid fa-user-edit me-3"></i>Editar Cliente</h5>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="editarClienteForm" (ngSubmit)="editarCliente()" class="row g-3">

        <input type="hidden" formControlName="idCliente" />

        <div class="col-md-6">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Apellido</label>
          <input type="text" class="form-control" formControlName="apellido" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Identificación</label>
          <input type="text" class="form-control" formControlName="identificacion" />
        </div>



        <!---<div class="col-md-6">
          <label class="form-label">Teléfono</label>
          <input type="text" class="form-control" formControlName="telefono" />
        </div>-->

        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="editarClienteForm.invalid">
            <i class="fa-solid fa-save me-2"></i>Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
