<form [formGroup]="crearClienteForm" (ngSubmit)="crearCliente()" class="container mt-4">

  <!-- Campo Nombre -->
  <div class="mb-3">
    <label class="form-label">Nombre:</label>
    <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese el nombre del cliente" />
  </div>

  <!-- Campo Apellido -->
  <div class="mb-3">
    <label class="form-label">Apellido:</label>
    <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese el apellido del cliente" />
  </div>

  <!-- Campo Identificación -->
  <div class="mb-3">
    <label class="form-label">Cédula / Identificación:</label>
    <input type="text" class="form-control" formControlName="identificacion" placeholder="Ingrese la cédula" />
  </div>

  <!-- Campo Correo 
  <div class="mb-3">
    <label class="form-label">Correo:</label>
    <input type="email" class="form-control" formControlName="correo" placeholder="Ingrese el correo del cliente" />
  </div>

   Campo Dirección
  <div class="mb-3">
    <label class="form-label">Dirección:</label>
    <input type="text" class="form-control" formControlName="direccion" placeholder="Ingrese la dirección" />
  </div>

    Campo Teléfono
  <div class="mb-3">
    <label class="form-label">Teléfono:</label>
    <input type="text" class="form-control" formControlName="telefono" placeholder="Ingrese el número de teléfono" />
  </div>-->

  <!-- Botón Crear Cliente -->
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Crear Cliente</button>
  </div>

</form>

