<div class="container mt-4">
  <h4><i class="fa-solid fa-plus me-2"></i>Crear Detalle de Factura</h4>

  <form [formGroup]="form" (ngSubmit)="guardar()" class="mt-4">

    <div class="mb-3">
      <label class="form-label">Servicio</label>
      <select class="form-select" formControlName="idServicio">
        <option value="">Seleccione...</option>
        <option *ngFor="let s of servicios" [value]="s.idServicio">
          {{ s.descripcion }}
        </option>
      </select>
    </div>


         <div class="mb-3">
      <label class="form-label">Factura</label>
      <select class="form-select" formControlName="idFactura">
        <option value="">Seleccione...</option>
        <option *ngFor="let f of facturas" [value]="f.idFactura">
          {{ f.idFactura }}
        </option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Costo</label>
      <input type="number" formControlName="costo" class="form-control" />
    </div>

    <button class="btn btn-success" type="submit" [disabled]="form.invalid">
      <i class="fa-solid fa-save me-1"></i> Guardar
    </button>
  </form>
</div>
