<div class="container mt-4">
  <h4>Editar Detalle de Servicio</h4>
  <form [formGroup]="form" (ngSubmit)="actualizar()">
    <div class="mb-3">
      <label>Vehículo</label>
      <select class="form-select" formControlName="idVehiculo" >
        <option *ngFor="let v of vehiculos" [value]="v.idVehiculo">
          {{ v.placa }} - {{ v.modelo }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label>Descripción</label>
      <input class="form-control" formControlName="descripcion" />
    </div>

    <div class="mb-3">
      <label>Servicio</label>
      <input type="text" class="form-control" formControlName="idServicio" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Actualizar</button>
    <a routerLink="/gestion-servicio" class="btn btn-secondary ms-2">Cancelar</a>
  </form>
</div>
