<div class="container mt-4">
  <h4><i class="fa-solid fa-pen me-2"></i>Editar Detalle de Factura</h4>

  <form [formGroup]="form" (ngSubmit)="guardar()" class="mt-4">

    <div class="mb-3">
      <label class="form-label">Servicio</label>
      <select class="form-select" formControlName="idServicio">
        <option value="">Seleccione...</option>
        <option *ngFor="let s of servicios" [value]="s.idServicio">
          {{ s.idServicio }}
        </option>
      </select>
    </div>


     <div class="mb-3">
      <label class="form-label">Factura</label>
      <select class="form-select" formControlName="idFactura">
        <option value="">Seleccione...</option>
        <option *ngFor="let f of facturas" [value]="f.idFactura">
          {{ f.idFactura }}
        </option>
      </select>
    </div>


    <div class="mb-3">
      <label class="form-label">Costo</label>
      <input type="number" formControlName="costServicio" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      <i class="fa-solid fa-save me-1"></i> Actualizar
    </button>
  </form>
</div>
