<div class="container mt-5">
  <div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
      <h5 class="mb-0">
        <i class="fa-solid fa-car me-3"></i>Gestión de Vehículos
      </h5>
    </div>

    <div class="card-body p-5">
      <div class="mb-3">
        <button type="button" routerLink="/crear-vehiculo" class="btn btn-success me-2">
          <i class="fa-solid fa-plus me-1"></i> Crear
        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmarEliminar()"
          [disabled]="seleccionados.length === 0"
        >
          <i class="fa-solid fa-trash me-1"></i> Eliminar {{ textoBtnEliminar }}
        </button>
      </div>

      <div class="rounded-xl w-100">
        <div class="table-responsive">
          <table class="table table-bordered w-100">
            <thead class="table-light">
              <tr>
                <th style="width: 40px;"></th>
                <th>Matrícula</th>
                <th>Modelo</th>
                <th>Descripción</th>
                <th>Cliente</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of vehiculos; trackBy: trackById">
                <td>
                  <input #check type="checkbox" (change)="seleccionar(v, check.checked)" />
                </td>
                <td>{{ v.matricula }}</td>
                <td>{{ v.modelo }}</td>
                <td>{{ v.description }}</td>
                <td>{{ clientesMap[v.idCliente] }}</td>
                <td>
                  <button
                    [routerLink]="['/editar-vehiculo', v.idVehiculo]"
                    class="btn btn-primary btn-sm"
                  >
                    <i class="fa-solid fa-pen me-1"></i> Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
