<form [formGroup]="form" (ngSubmit)="crear()" class="container mt-4">
  <div class="mb-3"><label>Matrícula</label><input formControlName="matricula" class="form-control" /></div>
  <div class="mb-3"><label>Modelo</label><input formControlName="modelo" class="form-control" /></div>
  <div class="mb-3"><label>Descripción</label><input formControlName="description" class="form-control" /></div>
  <div class="mb-3">
    <label>Cliente</label>
    <select formControlName="idCliente" class="form-select">
      <option [ngValue]="null">Seleccione cliente...</option>
      <option *ngFor="let c of clientes" [ngValue]="c.idCliente">
        {{ c.nombre }} - {{ c.identificacion }}
      </option>
    </select>
  </div>
<div class="mb-3">
  <label>Buscar cliente por ID</label>
  <div class="input-group">
    <input type="number" formControlName="buscarIdCliente" class="form-control" placeholder="ID Cliente" />
    <button type="button" class="btn btn-outline-secondary" (click)="buscarCliente()">Buscar</button>
  </div>
</div>
  <div >

      <button type="submit" class="btn btn-primary">Crear Vehículo</button>

  </div>
</form>
